<html>
<head>
<meta charset="UTF-8"/>
<title>Exercice HTML</title>
</head>

<body>

<style>
li>ul{color:red}

</style>

<!-- Liste à puces -->
<h1> Zoumenou Nils</h1>

<ul>
<li>Item 1</li>
<li>Item 2</li>
<li>Item 3</li>
</ul>


<!-- Liste ordonnée -->
<ol>
<li>Item 1</li>
<li>Item 2</li>
<li>Item 3</li>
</ol>

<!-- Ecrire le code de votre exercice  -->
<h2>1. Véhicules</h2>
<ul>
  <li>Voiture</li>
  <li>Camion</li>
  <li>Scooter</li>
</ul>

  <h2>2. Hébergement</h2>
<ul>
  <li>Maison</li>
  <li>Cabane</li>
  <li>Appartement</li>
</ul>


  <h2>3. Animaux</h2>
<ul>
  <li>Chien</li>
  <li>Chat</li>
  <li>Poisson</li>
</ul>

</body>

</html>
