<html>
<head>
<meta charset="UTF-8"/>
<title>Exercice HTML</title>
</head>

<body>

<style>
        ul {
            color: red;
        }
</style>
        

    <h1>1. Véhicule</h1>
    <ul>
        <li>Voiture</li>
        <li>Camion</li>
        <li>Scooter</li>
    </ul>

    <h1>2. Hébergement</h1>
    <ul>
        <li>Maison</li>
        <li>Cabane</li>
        <li>Appartement</li>
    </ul>

    <h1>3. Animaux</h1>
    <ul>
        <li>Chien</li>
        <li>Chat</li>
        <li>Poisson</li>
    </ul>
</body>
</html>
