<h1>EXERCICE 1</h1>
<h1>Mes cocktails préférés</h1>
<ul>
    <li>Mojito</li>
    <li>Gin Fizz</li>
    <li>Bloody mary</li>
    <li>Long Island Iced Tea</li>
</ul>

<h1>EXERCICE 2</h1>
<h1>Mes <span>cocktails</span> préférés</h1>
<ul>
    <li>Mojito</li>
    <li>Gin Fizz</li>
    <li>Bloody mary</li>
    <li>Long Island Iced Tea</li>
</ul>

<h1>EXERCICE 3</h1>
<p>Le <a href="https://fr.wikipedia.org/wiki/Moscow_Mule" target="_blank">Moscow Mule</a> est un cocktail à base de vodka, de bière de gingembre épicée et de jus de citron vert, accompagné d'une rondelle de citron.</p>
<p>Le <a href="https://fr.wikipedia.org/wiki/Long_Island_Iced_Tea" target="_blank">Long Island Iced Tea</a> est un cocktail à base de tequila, de gin, de vodka, de rhum et de liqueur d'oranges.</p>

<h1>EXERCICE 4</h1>
<p>Un French Connection est un cocktail composé de parts égales de cognac et d'amaretto.</p>
<p><img src="french-connection.jpg" alt="Photo d'un cocktail French Connection" /></p>

<h1>EXERCICE 5</h1>
<h1>Mon super titre</h1>
<hr>
<p>
   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</p>
