<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nouveau dresseur</title>
</head>
<body>
    <h1>Nouveau dresseur</h1>

    <form>
        <label for="nom">Nom *</label><br>
        <input type="text" id="nom" name="nom" required><br><br>

        <label>Description :</label><br>
        <label>
            <input type="checkbox" id="equipe" name="description" value="Equipe">
            Equipe
        </label><br>
        <label>
            <input type="checkbox" id="rouge" name="description" value="Rouge">
            Rouge
        </label><br>
        <label>
            <input type="checkbox" id="jaune" name="description" value="Jaune">
            Jaune
        </label><br>
        <label>
            <input type="checkbox" id="bleu" name="description" value="Bleu">
            Bleu
        </label><br><br>

        <label for="anniversaire">Anniversaire*</label><br>
        <input type="date" id="anniversaire" name="anniversaire" required><br><br>

        <input type="submit" value="Envoyer">
    </form>
</body>
</html>
