<html>
  <head>
    <script>
      function afficher() {
        document.getElementById('dessin').style.display = 'block';
      }
    </script>
  </head>
  <body>
    <button onclick="afficher()">Afficher</button>
    
    <svg id="dessin" width="300px" height="300px" style="background-color:lightgray; display:none;">
      <line x1="100" y1="0" x2="100" y2="300" stroke="blue" stroke-width="3"/>
      <line x1="200" y1="0" x2="200" y2="300" stroke="blue" stroke-width="3"/>
      <line x1="0" y1="100" x2="300" y2="100" stroke="blue" stroke-width="3"/>
      <line x1="0" y1="200" x2="300" y2="200" stroke="blue" stroke-width="3"/>

      <text x="40" y="15" fill="blue">X50</text>
      <text x="140" y="15" fill="blue">X150</text>
      <text x="240" y="15" fill="blue">X250</text>
      <text x="5" y="55" fill="blue">Y 50</text>
      <text x="5" y="155" fill="blue">Y 150</text>
      <text x="5" y="255" fill="blue">Y 250</text>

      <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="red"/>
      <circle cx="250" cy="50" r="40" stroke="black" stroke-width="3" fill="red"/>
      <circle cx="150" cy="150" r="40" stroke="black" stroke-width="3" fill="red"/>
      <circle cx="50" cy="250" r="40" stroke="black" stroke-width="3" fill="red"/>
      <circle cx="250" cy="250" r="40" stroke="black" stroke-width="3" fill="red"/>
    </svg> 
  </body>
</html>
