<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maison avec Soleil</title>
</head>
<body>

<svg width="750" height="750" style="background-color:rgba(200,200,200, 0.5)">
    <circle style="fill:yellow; stroke:orange; stroke-width:5px;" cx="600" cy="150" r="70" />
    

    <rect style="fill:beige; stroke:brown; stroke-width:10px;" x="200" y="300" width="350" height="300" />
    
    <polygon style="fill:brown; stroke:darkbrown; stroke-width:5px;" points="200 300, 375 150, 550 300" />
    
    <rect style="fill:darkbrown; stroke:black; stroke-width:5px;" x="330" y="450" width="90" height="150" />
    
    <rect style="fill:lightblue; stroke:darkblue; stroke-width:5px;" x="250" y="350" width="80" height="80" />
    <rect style="fill:lightblue; stroke:darkblue; stroke-width:5px;" x="420" y="350" width="80" height="80" />
</svg>

</body>
</html>
