<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ma première page HTML</title>
</head>
<body>
    <h1>Mon premier titre</h1>
    <p>Ceci est un paragraphe.</p>

    <!-- Texte en gras, italique et souligné -->
    <p><b>Ce texte est en gras</b>, <i>ce texte est en italique</i>, <u>et ce texte est souligné</u>.</p>

    <!-- Lien vers une autre page -->
    <p>Visitez la page <a href="actualite.html">Actualités</a>.</p>

    <!-- Lien vers une adresse électronique -->
    <p>Contactez-moi par <a href="mailto:exemple@domaine.com">email</a>.</p>

    <!-- Liste combinée -->
    <ul>
        <li>Premier élément</li>
        <li>Deuxième élément
            <ol>
                <li>Sous-élément 1</li>
                <li>Sous-élément 2</li>
            </ol>
        </li>
        <li>Troisième élément</li>
    </ul>
</body>
</html>


<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Page identique à l'image</title>
</head>
<body>
    <h1>Voici la première partie :</h1>

    <table border="1">
        <tr>
            <td>un tableau</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>à 6</td>
            <td>cases</td>
        </tr>
        
    </table>

    <h2>Voici la deuxième partie</h2>

    <h3>Une liste</h3>
    <ol>
        <li>premier point
            <ul>
                <li>rubrique 1</li>
                <li>rubrique 2</li>
            </ul>
        </li>
        <li>2e point</li>
        <li>3e point
            <ul>
                <li>rubrique 1</li>
                <li>rubrique 2</li>
            </ul>
        </li>
    </ol>

   
</body>
</html>




<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Formulaire d'inscription</title>
</head>
<body>
    <h1>Formulaire d'inscription</h1>
    <form action="/submit" method="post">
        <label for="pseudo">Votre pseudo :</label>
        <input type="text" id="pseudo" name="pseudo"><br><br>

        <label for="motdepasse">Votre mot de passe :</label>
        <input type="password" id="motdepasse" name="motdepasse"><br><br>

        <label for="motdepasse2">Ressaisir votre mot de passe :</label>
        <input type="password" id="motdepasse2" name="motdepasse2"><br><br>

        <label>OS préféré :</label><br>
        <input type="radio" id="windowsxp" name="os" value="Windows XP">
        <label for="windowsxp">Windows XP</label><br>
        <input type="radio" id="windowsvista" name="os" value="Windows Vista">
        <label for="windowsvista">Windows Vista</label><br>
        <input type="radio" id="macosx" name="os" value="MacOS X">
        <label for="macosx">MacOS X</label><br>
        <input type="radio" id="linux" name="os" value="Linux">
        <label for="linux">Linux</label><br>
        <input type="radio" id="autre" name="os" value="Autre">
        <label for="autre">Autre</label><br><br>

        <label>Vous possédez :</label><br>
        <input type="checkbox" id="desktop" name="possede" value="Un ordinateur de bureau">
        <label for="desktop">Un ordinateur de bureau</label><br>
        <input type="checkbox" id="portable" name="possede" value="Un portable">
        <label for="portable">Un portable</label><br>
        <input type="checkbox" id="netbook" name="possede" value="Un netbook">
        <label for="netbook">Un netbook</label><br>
        <input type="checkbox" id="tablette" name="possede" value="Une tablette (Pad)">
        <label for="tablette">Une tablette (Pad)</label><br><br>

        <label for="profession">Votre profession :</label>
        <select id="profession" name="profession">
            <option value="Chômeur">Chômeur</option>
            <option value="Etudiant">Etudiant</option>
            <option value="Fonctionnaire">Fonctionnaire</option>
            <option value="Privé">Privé</option>
            <option value="Retraité">Retraité</option>
        </select><br><br>

        <input type="submit" value="S'inscrire !">
    </form>
</body>
</html>



<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mon CV</title>
</head>
<body>
    <h1>Mon CV</h1>
    <table border="1" width="100%">
        <tr>
            <td>Prénom</td>
            <td>Nom</td>
            <td>Adresse</td>
            <td>Date de naissance</td>
        </tr>
        <tr>
            <th>Nils</th>
            <th>Zoumenou</th>
            <th>48 rue des Aulnaies</th>
            <th>27 mai 2002</th>
        </tr>
        
    </table>

    <h2>Formation</h2>
    <table width="100%">
        <tr>
            <td width="20%">
                <ul>
                    <li>2001-2002</li>
                    <li>2000-2001</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Description de la formation 2001-2002</li>
                    <li>Description de la formation 2000-2001</li>
                </ul>
            </td>
        </tr>
    </table>

    <h2>Expérience professionnelle</h2>
    <table width="100%">
        <tr>
            <td width="20%">
                <ul>
                    <li>2001-2002</li>
                    <li>2000-2001</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Description de l'expérience 2001-2002</li>
                    <li>Description de l'expérience 2000-2001</li>
                </ul>
            </td>
        </tr>
    </table>

    <h2>Compétences</h2>
    <table width="100%">
        <tr>
            <td width="20%">
                <ul>
                    <li>2001-2002</li>
                    <li>2000-2001</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Description des compétences 2001-2002</li>
                    <li>Description des compétences 2000-2001</li>
                </ul>
            </td>
        </tr>
    </table>

    <h2>Informations complémentaires</h2>
    <table width="100%">
        <tr>
            <td width="20%">
                <ul>
                    <li>2001-2002</li>
                    <li>2000-2001</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Description des informations complémentaires 2001-2002</li>
                    <li>Description des informations complémentaires 2000-2001</li>
                </ul>
            </td>
        </tr>
    </table>

    <img src="photo.jpg" alt="Ma photo" width="150">
</body>
</html>
